/* .container-two {
    width: 100%;
    margin-top: 50px;
    height: 50vh;
    position: relative;
}

.main-box {
    width: 900px;
    height: 400px;
    border-radius: 220px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#testimonials {
    display: flex;
    transition: 0.5s;
}

.user {
    width: 800px;
    text-align: center;
    padding: 20px 70px;
    box-sizing: border-box;
    background: rgb(30, 38, 52);
    border-radius: 200px;
    box-shadow: 0 10px 20px -5px #00000061;
    position: relative;
    color: white;
}

.space {
    margin: 0 70px;
}

.user p {
    font-size: 20px;
    line-height: 32px;
    margin: 60px 0 30px;
}

.user h3 {
    font-size: 23px;
}

.controls {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.controls span {
    width: 15px;
    height: 15px;
    background: rgb(23, 32, 48);
    border-radius: 15px;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.5s;
}

.active {
    width: 45px !important;
}

@media (max-width: 400px) {
    .main-box {
        transform: translate(-50%, -50%);
    }

    .user {
        width: 370px;
        padding: 15px 70px;
    }

    .space {
        margin: 0 70px;
    }

    .user p {
        font-size: 15px;
    }

    .user h3 {
        font-size: 18px;
    }

    .controls {
        display: flex;
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translateX(-50%);
    }

    .controls span {
        width: 15px;
        height: 15px;
        background: rgb(23, 32, 48);
        border-radius: 15px;
        margin: 0 5px;
        cursor: pointer;
        transition: 0.5s;
    }
} */



.container-two {
    width: 100%;
    margin-top: 50px;
    height: 50vh;
    position: relative;
}

.main-box {
    width: 900px;
    height: 400px;
    border-radius: 220px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#testimonials {
    display: flex;
    transition: 0.5s;
}

.user {
    width: 800px;
    text-align: center;
    padding: 20px 70px;
    box-sizing: border-box;
    background: rgb(30, 38, 52);
    border-radius: 200px;
    box-shadow: 0 10px 20px -5px #00000061;
    position: relative;
    color: white;
}

.space {
    margin: 0 70px;
}

.user p {
    font-size: 20px;
    line-height: 32px;
    margin: 60px 0 30px;
}

.user h3 {
    font-size: 23px;
}

.controls {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.controls span {
    width: 15px;
    height: 15px;
    background: rgb(23, 32, 48);
    border-radius: 15px;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.5s;
}

.active {
    width: 45px !important;
}

@media (max-width: 400px) {
    .container-two {
        width: 50%;
        /* margin-top: 50px;
        height: 50vh; */
        position: relative;
    }

    .main-box {
        transform: translate(-50%, -50%);
    }

    .user {
        width: 370px;
        padding: 15px 40px;
    }

    .space {
        margin: 0 40px;
    }

    .user p {
        font-size: 15px;
        line-height: 24px;
        margin: 30px 0;
    }

    .user h3 {
        font-size: 18px;
    }
}
